<!doctype html>
<html ng-app="AngularApp1" lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body>
   <div ng-controller="LunchCheckController" class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input ng-model="menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <p class="h6">Empty values ",," or only spaces in between ",  ," are not counted as items</p>
         </div>
         <div class="form-group">
             <button ng-click="checkMenu();" class="btn btn-default">Check If Too Much</button>
         </div>
         <div>
           <!-- Your message can go here. -->
            <p ng-style="messageColor">{{messageText}}</p>
         </div>
   </div>
</body>
</html>
